/Sem.03/.vs/Sem.03/copilot-chat
/Sem.03/Problem2/x64
Sem.03/x64/Debug/Problem1.exe
Sem.03/x64/Debug/Problem1.pdb
Sem.03/x64/Debug/Problem2.exe
Sem.03/x64/Debug/Problem2.pdb
Sem.03/x64/Debug/Problem3.exe
Sem.03/x64/Debug/Problem3.pdb
Sem.03/x64/Debug/Problem4.exe
Sem.03/x64/Debug/Problem4.pdb
Sem.03/x64/Debug/Problem5.exe
Sem.03/x64/Debug/Problem5.pdb
Sem.03/x64/Debug/Problem6.exe
Sem.03/x64/Debug/Problem6.pdb
Sem.03/x64/Debug/Problem7.exe
Sem.03/x64/Debug/Problem7.pdb
Sem.03/Problem1/x64/Debug/vc143.idb
Sem.03/Problem1/x64/Debug/vc143.pdb
Sem.03/Problem3/x64/Debug/vc143.idb
Sem.03/Problem3/x64/Debug/vc143.pdb
Sem.03/Problem4/x64/Debug/vc143.idb
Sem.03/Problem4/x64/Debug/vc143.pdb
Sem.03/Problem5/x64/Debug/vc143.idb
Sem.03/Problem5/x64/Debug/vc143.pdb
Sem.03/Problem6/x64/Debug/vc143.idb
Sem.03/Problem6/x64/Debug/vc143.pdb
Sem.03/Problem7/x64/Debug/vc143.idb
Sem.03/Problem7/x64/Debug/vc143.pdb
Sem.03/Problem1/x64/Debug/Problem1.ilk
Sem.03/Problem1/x64/Debug/Problem1.log
Sem.03/Problem1/x64/Debug/Problem1.obj
Sem.03/Problem3/x64/Debug/Problem3.ilk
Sem.03/Problem3/x64/Debug/Problem3.log
Sem.03/Problem3/x64/Debug/Problem3.obj
Sem.03/Problem4/x64/Debug/Problem4.ilk
Sem.03/Problem4/x64/Debug/Problem4.log
Sem.03/Problem4/x64/Debug/Problem4.obj
Sem.03/Problem5/x64/Debug/Problem5.ilk
Sem.03/Problem5/x64/Debug/Problem5.log
Sem.03/Problem5/x64/Debug/Problem5.obj
Sem.03/Problem6/x64/Debug/Problem6.ilk
Sem.03/Problem6/x64/Debug/Problem6.log
Sem.03/Problem6/x64/Debug/Problem6.obj
Sem.03/Problem7/x64/Debug/Problem7.ilk
Sem.03/Problem7/x64/Debug/Problem7.log
Sem.03/Problem7/x64/Debug/Problem7.obj
Sem.03/Problem3/x64/Debug/problem3.obj.enc
Sem.03/Problem7/x64/Debug/problem7.obj.enc
Sem.03/Problem1/x64/Debug/Problem1.exe.recipe
Sem.03/Problem3/x64/Debug/Problem3.exe.recipe
Sem.03/Problem4/x64/Debug/Problem4.exe.recipe
Sem.03/Problem5/x64/Debug/Problem5.exe.recipe
Sem.03/Problem6/x64/Debug/Problem6.exe.recipe
Sem.03/Problem7/x64/Debug/Problem7.exe.recipe
Sem.03/Problem1/x64/Debug/Problem1.tlog/Cl.items.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/Cl.items.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/Cl.items.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/Cl.items.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/Cl.items.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/Cl.items.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/CL.read.1.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/CL.read.1.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/CL.read.1.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/CL.read.1.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/CL.read.1.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/CL.read.1.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/CL.write.1.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/CL.write.1.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/CL.write.1.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/CL.write.1.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/CL.write.1.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/CL.write.1.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/link.read.1.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/link.read.1.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/link.read.1.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/link.read.1.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/link.read.1.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/link.read.1.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/CL.command.1.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/link.write.1.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/CL.command.1.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/link.write.1.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/CL.command.1.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/link.write.1.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/CL.command.1.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/link.write.1.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/CL.command.1.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/link.write.1.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/CL.command.1.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/link.write.1.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/link.command.1.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/link.command.1.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/link.command.1.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/link.command.1.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/link.command.1.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/link.command.1.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/link.secondary.1.tlog
Sem.03/Problem3/x64/Debug/Problem3.tlog/link.secondary.1.tlog
Sem.03/Problem4/x64/Debug/Problem4.tlog/link.secondary.1.tlog
Sem.03/Problem5/x64/Debug/Problem5.tlog/link.secondary.1.tlog
Sem.03/Problem6/x64/Debug/Problem6.tlog/link.secondary.1.tlog
Sem.03/Problem7/x64/Debug/Problem7.tlog/link.secondary.1.tlog
Sem.03/Problem1/x64/Debug/Problem1.tlog/Problem1.lastbuildstate
Sem.03/Problem3/x64/Debug/Problem3.tlog/Problem3.lastbuildstate
Sem.03/Problem4/x64/Debug/Problem4.tlog/Problem4.lastbuildstate
Sem.03/Problem5/x64/Debug/Problem5.tlog/Problem5.lastbuildstate
Sem.03/Problem6/x64/Debug/Problem6.tlog/Problem6.lastbuildstate
Sem.03/Problem7/x64/Debug/Problem7.tlog/Problem7.lastbuildstate
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/2b3bfe9cab12df7d/PROBLEM5.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/67c498694111a241/PROBLEM2.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/72be443d688946e9/PROBLEM3.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/a302843e106802e9/PROBLEM6.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/ca9e52a26b65af95/PROBLEM4.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/d0c738cc55d6ddc5/PROBLEM1.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/f7ad76739c714aa9/PROBLEM7.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/d34c4cd8740d2b39/VCTMP23676_56509.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/e5161e00579df84b/VCTMP23676_41305.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/11b02e4f97a2a66c/VCTMP23676_335786.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/1fe6d5f19de54fc4/VCTMP23676_541606.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/23c339a3d00b5652/VCTMP23676_791012.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/661550e626b581a2/VCTMP23676_472326.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/8205ff1a1302d3a6/VCTMP23676_887120.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/b6a74402c0078b2b/VCTMP23676_942202.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/e29cb0791621949b/VCTMP23676_266573.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/ipch/AutoPCH/e663b2110ee5ff7b/VCTMP23676_878972.PROBLEM1.1AF7376F.ipch
Sem.03/.vs/Sem.03/v17/Solution.VC.db
Sem.03/.vs/Sem.03/v17/DocumentLayout.json
Sem.03/.vs/Sem.03/v17/DocumentLayout.backup.json
Sem.03/.vs/Sem.03/v17/Browse.VC.opendb
Sem.03/.vs/Sem.03/v17/Browse.VC.db-wal
Sem.03/.vs/Sem.03/v17/Browse.VC.db-shm
Sem.03/.vs/Sem.03/v17/Browse.VC.db
Sem.03/.vs/Sem.03/v17/.suo
Sem.03/.vs/Sem.03/FileContentIndex/dd44c7eb-2eac-4c84-ab23-e6d2364c9674.vsidx
Sem.03/.vs/Sem.03/FileContentIndex/b57630bc-1e40-4ecf-8d41-6498032a242d.vsidx
Sem.03/.vs/Sem.03/FileContentIndex/8509e28a-5eec-4ea4-bb49-4266a3deb71a.vsidx
Sem.03/.vs/Sem.03/FileContentIndex/26a5bf31-2755-4634-b72b-26c872ae4736.vsidx
Sem.03/.vs/Sem.03/FileContentIndex/01ea669d-429f-45b7-b5ce-6dc4765c1640.vsidx
Sem.03/.vs/Sem.03/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
Sem.03/.vs/Sem.03/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
Sem.03/.vs/Sem.03/CopilotIndices/17.12.31.40377/SemanticSymbols.db
Sem.03/.vs/Sem.03/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
Sem.03/.vs/Sem.03/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
Sem.03/.vs/Sem.03/CopilotIndices/17.12.31.40377/CodeChunks.db
Pract.03/.vs*
Pract.03/x64*
Pract.03/Problem*/x64*

Sem.04/x64*
Sem.04/.vs*
Sem.04/Problem*/x64*